  # Environment                                                                                                                       
  .env                                                                                                                                
                                                                                                                                      
  # Built binary                                                                                                                      
  main                                                                                                                                
   
  # Mac                                                                                                                               
  .DS_Store   